/*** Utlities ***/
/* General soft transition */
*:link, *:visited, *:hover, *:active, *:focus { -webkit-transition: color .15s linear, background-color .15s linear, border-color .15s linear; transition: color .15s linear, background-color .15s linear, border-color .15s linear, opacity .25s linear; }
/* class to hide stuff */
.hide input, .hide button { opacity: 0; }
/* Spacing removal */
.no-spacing { margin: 0px; padding: 0px; }
.no-margin { margin: 0px; }
.no-padding { padding: 0px; }
.float-left { float: left; }
.float-right { float: right; }


/* Style overriders */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { border: 1px solid white; border-bottom: 1px solid #333; border-radius: 0px; margin-right: 15px; margin-bottom: 0px; margin-top: 5px; padding: 0px; }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid white; border-bottom: 1px solid #333; }
button, .button { background-color: #B65B5C; border: 0px; border-radius: 0px; color: white; padding-top: 1px; }
button:hover, .button:hover { color: white; opacity: 0.9; }
button.button2 { background-color: #544F64; border: 0px; border-radius: 0px; color: white; padding-top: 1px; }
button.button2:hover { color: white; opacity: 0.9; }


/* Map */
.map-bg { background-image: url('../images/map.png'); background-repeat: no-repeat; background-size: cover; }

body, .app, .routing {
  height: 100%;
  width: 100%;
  position: absolute;
}

.leaflet-container img {
  max-height: none;
  max-width: none;
}

.locator {
  z-index: 1000;
  position: absolute;
  bottom: 18%;
  left: 10px;
  width: 17px;
  height: 17px;
  background-color: white;
  padding: 8px 8px 6px 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);
}

.icons {
  z-index: 1000;
  position: absolute;
  bottom: 18%;
  right: 1%;
  width: 20px;
  height: 20px;
  background-color: white;
  padding: 10px 10px 8px 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);
}


/* User input area */
.input-box { margin: 10px 5%; padding: 20px; background-color: white; min-width: 90%; max-width: 90%; position: absolute; z-index: 1000; border-radius: 5px; border: 2px solid rgba(0,0,0,0.3); }
.route-input { opacity: 1; }
form.route-input { margin-bottom: 0px; margin-left: 10px; }
.minimiser { position: absolute; top: 20px; right: 20px; height: 10px; width: 15px; background-image: url('../images/minus.png'); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; cursor: pointer; }
.minimised { width: 50px; height: 50px; min-width: 50px; max-width: 50px; margin: 20px 50px; }
.minimised input, .minimised button { visibility: hidden; }
.minimiser.minimised-icon { position: absolute; top: 15px; right: 15px; height: 20px; width: 20px; background-image: url('../images/map-icon.png'); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; cursor: pointer; }

/* Steps */
.steps-box-wrapper { position: absolute; bottom: 0px; width: 100%; min-width: 100%; z-index: 1000}
.steps-box-button { text-align: center; background-color: white; width: 130px; position: relative; left: calc(50% - 50px); padding: 0px 5px; cursor: pointer; }
.steps-box-button p { margin-bottom: 0px; float: left; padding: 5px; }
.steps-box-icon { width: 15px; height: 15px; float: right; padding: 6px; padding-top: 10px; }
.rotated { transform: rotate(180deg) scale(1) skew(1deg) translate(0px); -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); -ms-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); }
.steps-box { background-color: white; max-height: 350px; overflow: scroll; -webkit-transition: max-height 0.8s; -moz-transition: max-height 0.8s; transition: max-height 0.8s; }
.stepsHidden { max-height: 0; overflow: hidden; -webkit-transition: max-height 0.8s; -moz-transition: max-height 0.8s; transition: max-height 0.8s; }
.stepsHidden.route-1, .stepsHidden.route-2, .stepsHidden.route-3 { padding: 0px; }
.steps-box-icon.imgFlip { -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); -webkit-transition: -webkit-transform 1s ease-in; }
.steps-box-icon { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: -webkit-transform 1s ease-in; }

.number-of-routes-row { background-color: white; padding: 20px 20px 0px 20px; }
.number-of-routes { font-family: Raleway; font-size: 20px; color: #333333; letter-spacing: 0; float: left; }
.edit { float: right; }

.route-1, .route-2, .route-3 { padding: 20px; border-top: 1px solid #979797; }
.route-1 p, .route-2 p, .route-3 p { margin: 10px; }

.number-of-route { font-family: Raleway; font-size: 18px; color: #333333; letter-spacing: 0; margin-bottom: 10px;}
.eta { font-family: Raleway; font-size: 16px; color: #333333; letter-spacing: 0; text-align: right; }

.time-icon, .elevation-icon, .fastest-icon, .distance-icon { width: 20px; margin-right: 5px; margin-bottom: -4px; }
.time, .elevation, .fastest, .distance { font-family: Raleway; font-size: 16px; color: #333333; letter-spacing: 0; }

.view-steps { text-align: right; float: right; display: block; }
.start { text-align: right; float: right; display: block; }
.view-steps-link, .start-link { display: block; height: 50px; }

.step-icon { width: 20px; margin-right: 15px; }
.a-step { border-bottom: solid 1px #E5E5E5; }

/* Responsive */
@media (max-width: 600px) {
  .input-box { margin: 30px 14%; min-width: 78%; max-width: 78%; }
  button, .button { margin-top: 10px; }
  .view-steps-link, .start-link { display: block; height: 70px; }
}
