<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <name>MK Redway Routing</name>

    <description>
      The official Redway Routes Planner for Milton Keynes! Plan your cycling journey's throughout our town and view exciting sights along the way.

      This app was made in by MK Hackathon CIC: For the good of Milton Keynes; partnered with the Open University and MK:Smart.
    </description>

    <author href="https://mkhackathon.org" email="developer@mkhackathon.org">
        MK Hackathon
    </author>

    <access origin="*" />

    <plugin name="org.apache.cordova.geolocation" />

    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>

    <platform name="ios" />
    <platform name="android" />

</widget>
