<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.mkhackathon.redwayrouting"
        versionCode = "10"
        version     = "1.0.0" >

    <name>MK Redway Routing</name>

    <description>
      The official Redway Routes Planner for Milton Keynes! Plan your cycling journey's throughout our town and view exciting sights along the way.

      This app was made in by MK Hackathon CIC: For the good of Milton Keynes; partnered with the Open University and MK:Smart.
    </description>

    <author href="https://mkhackathon.org" email="developer@mkhackathon.org">
        MK Hackathon
    </author>

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" /> <!-- Required for iOS9 -->

    <preference name="android-minSdkVersion" value="14" />

    <!-- <plugin name="org.apache.cordova.geolocation" /> -->
    <plugin name="cordova-plugin-geolocation" />

    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
        <!-- <param name="android-package" value="org.apache.cordova.GeoBroker" /> -->
        <param name="android-package" value="cordova-plugin-geolocation.GeoBroker" />
    </feature>

    <icon src="icon.png" />
    <!-- iPhone 6 / 6+ -->
    <icon src="icon-60-3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icon-60-2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-76-2x.png" platform="ios" width="152" height="152" />
    <icon src="icon-83.5-2x.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icon-small-2x.png" platform="ios" width="58" height="58" />
    <icon src="icon-small-3x.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="/ios/icon-40-2x.png" platform="ios" width="80" height="80" />
    <icon src="/ios/icon-40-3x.png" platform="ios" width="120" height="120" />

    <!-- iPhone / iPod Touch -->
    <icon src="/ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="/ios/icon-2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="/ios/icon-72-2x.png" platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="/ios/icon-small-2x.png" platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="/ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="/ios/icon-50-2x.png" platform="ios" width="100" height="100" />

    <!-- Android -->
    <icon src="/android/icon-36-ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="/android/icon-48-mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="/android/icon-72-hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="/android/icon-144-xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <icon src="/android/icon-192-fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />

    <!-- Windows phones -->
    <icon src="/windows8/logo.png" platform="winphone" />
    <icon src="/windows8/smalllogo.png" platform="winphone" role="background" />

    <icon platform="winphone" width="44"  height="44"  src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="106" height="106" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="150" height="150" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="360" height="360" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="71"  height="71"  src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="170" height="170" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="310" height="150" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="744" height="360" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="70"  height="70"  src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="30"  height="30"  src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="310" height="310" src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="50"  height="50"  src="wp8/ApplicationIcon.png" />
    <icon platform="winphone" width="120" height="120" src="wp8/ApplicationIcon.png" />

    <splash src="splash.png" />

    <platform name="ios" />
    <platform name="android" />

</widget>
