<div class="routing">
    <destination-picker search="search"></destination-picker>
    <leaflet id="map"
             center="map.center"
             markers="map.markers"
             defaults="map.defaults"
             paths="map.paths"
             bounds="map.bounds"
             width="100%"
             height="100%">
    </leaflet>
    <img class="locator" ng-click="locate()" src="images/locate.svg" />
    <img class="icons" ng-click="togglePlaces()" src="images/pins.svg" />
    <steps route="route"></steps>
</div>
