<div class="container input-box">
    <div class="row">
        <div class="">
            <span class="minimiser" ng-click="toggleForm()"></span>
            <form class="route-input" name="routeOptions" ng-class="{'minimised':minimiseForm}">
                <input type="text" ng-model="route.start" required placeholder="Starting Point">
                <input type="text" ng-model="route.end" required placeholder="End Point">
                <button type="submit" class="btn-primary find-my-route" ng-disabled="routeOptions.$invalid" ng-click="findRoute()">Find my route</button>
            </form>
        </div>
    </div>
</div>